body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.App {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Main.js */
.main {
  height: fit-content;
  width: 70%;
}

/* Header.js */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.navbar {
  width: 80%;
  list-style: none;
  display: flex;
}
.navbar-item {
  padding: 20px;
}

.login {
  margin-right: 0;
  cursor: pointer;
}

.header-navbar-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin-right: 3rem;
}

/* Article.js */
.article-wrapper {
  text-align: left;
}

a {
  color: white;
  cursor: pointer;
}
